.grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    column-gap: 3em;
    row-gap: 0.5em;
    padding-left: 4em;
    padding-right: 4em;
}
.grid-container *{
    border-style:solid;
    border-radius: 20px;
    padding: 10px;
}
.title {
    grid-column: 1/-1;
    place-self: center;
}

#right-sidebar{
    display:grid;
    grid-template-rows: 50px auto;
    border: unset;
}
#searchPanel{
    border: unset;
    padding: 0;
    margin-top: 10px;
}
#searchResults{
    overflow-y: auto;
    max-height: 30em;
    margin-top: 10px;
    
}

#left-sidebar{
    display:grid;
    grid-template-rows: 50px auto;
}
#onlineLabel{
    border: unset;
}
#onlineDiv{
    all: unset;
    overflow-y: auto;
    max-height: 200px;
}

#messages{
    grid-column: 2/3;
    overflow-y: auto;
    height: 30em;
}
#messages div{
    margin: 2px auto 2px auto;
}

#message-input{
    border: unset;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 10fr 1fr;
}
#status{
    border: unset;
    grid-row: 4/5;
    grid-column: 1/-1;
    place-self: center;
}
.buttons{
    border:unset;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}